.app-page {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.small-image-wrapper {
    height: 200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border:1px solid black;
    border-radius: 1px;
}

.small-image-from-SD {
     /* TODO keep the ratio and padding */
    /* width: 200px;
    height: 200px; */
    /* padding: 0px !important;
    max-width: 100%;
    max-height: 100%; */
    /* height: 205px; */
    object-fit: scale-down;
    /* margin: auto; */
    /* text-align: center; */
    /* border-radius: 2px; */
    /* margin-top: 20px; */

    flex-shrink:0;
    /* min-width:100%;
    min-height:100%; */

    max-width: 100%;
    max-height: 100%;
}


.padding-between {
    height: 20px;
    width: 100%;;
}

.small-title {
    font-weight: bold;
}

.header-row-aa {
    margin-top: 20px;
    background-color: antiquewhite;
    position: relative;
    height: 42px;
    justify-content: space-between;
    align-items: center;
}

